{{#extends 'base'}}
{{#block 'content'}}

    <h1>Edit pet details</h1>
    <form method="post">
        <div class="mt-2">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" value="{{pet.name}}">
        </div>
        <div class="mt-2">
            <label>Breed:</label>
            <input type="text" name="breed" class="form-control" value="{{pet.breed}}">
        </div>
        <div class="mt-2">
            <label>Description:</label>
            <input type="text" name="description" class="form-control" value="{{pet.description}}">
        </div>
        <div class="mt-2">
            <label>Age:</label>
            <input type="text" name="age" class="form-control" value="{{pet.age}}">
        </div>
        <div class="mt-2">
            <label>Problems:</label>
            <input type="text" name="problems" class="form-control" value="{{pet.problems}}">
        </div>

        <div class="mt-2">
            <label>Tags:</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="house-broken" {{#inArray pet.tags 'house-broken'}} checked {{/inArray}}>
            <label class="form-check-label">House-broken</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="vaccinated" {{#inArray pet.tags 'vaccinated'}} checked {{/inArray}}>
            <label class="form-check-label">Vaccinated</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="chipped" {{#inArray pet.tags 'chipped'}} checked {{/inArray}}>
            <label class="form-check-label">Chipped</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="fixed" {{#inArray pet.tags 'fixed'}} checked {{/inArray}}>
            <label class="form-check-label">Fixed</label>
        </div>

        <div class="mt-2">
            <label>HDB-approved?</label>
            <input class="form-check-input" type="radio" name="approved" value="true" {{#eq pet.approved 'true'}}checked{{/eq}}>
            <label class="form-check-label">True</label>

            <input class="form-check-input" type="radio" name="approved" value="false" {{#eq pet.approved 'false'}}checked{{/eq}}>
            <label class="form-check-label">False</label>
        </div>

        <input type="submit" value="Edit pet details" class="btn btn-primary mt-4">
    </form>

{{/block}}
{{/extends}}
