{{#extends 'base'}}
{{#block 'content'}}

<h1>All Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Plot</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each movies}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.plot}}</td>
            <td>
                <a href="/update-movie/{{this.id}}" class="btn btn-sm btn-primary">Edit</a>
                <a href="/delete-movie/{{this.id}}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- <div id="container-movies">
    {{#each movies}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.plot}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {{/each}}
</div> -->

{{/block}}
{{/extends}}